<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-XFcwqezKXV1XXx2zLplIh5KuMkxnuB3ga3T3sbZkhRSBhr01nq7/BHBU7kugzV67DF17kVWt6r+INxXmBYA8Rg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
    <div th:include="~{fragmentos/head}"><!-- menu de estilização --></div>
    <link rel="stylesheet" th:href="@{css/style-login.css}">
</head>

<body>
    
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <div class="card">
                        <div class="card-header">
                            <h3>Entre em Contato</h3>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="CPF do Usuário" name="cpf">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Senha" name="senha">
                                </div>
                                <button type="submit" class="btn btn-block btn-login"><i class="fas fa-sign-in-alt"></i>
                                    Entrar</button>
                                <a href=""><button type="button" class="btn btn-block btn-login"><i
                                            class="fas fa-sign-in-alt"></i> Cadastrar</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; Escola XYZ 1980 - 2024. Todos os direitos reservados.</p>
    </footer>
</body>

</html>